---
layout: default
exclude_from_search: true
custom_css_class: home
excerpt: The Bold Report is a personal blog written by Tim Smith about design, development, technology, Apple, and whatever else he finds himself curious about.
---

<!-- This loops through the paginated posts -->
<div class="content__posts">
{% for post in paginator.posts %}
  <div class="home-posts type-post format-{% if post.custom_type %}{{ post.custom_type }}{% endif %}">
    <article class="post">

      {% if post.custom_type == 'post' %}
        <header class="post__header">
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header><!-- /.post__header -->

        <div class="post__entry">
          {{ post.content }}
        </div><!-- /.post__entry -->

        <div class="post__closer">
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path fill="none" d="M7.83,3.404l1.741-2.909C9.367,0.407,9.15,0.344,8.913,0.344c-0.954,0-1.728,0.774-1.728,1.728C7.185,2.613,7.441,3.087,7.83,3.404z"></path>
            <path fill="none" d="M19.645,12.002l-0.464-0.31c-0.09-1.505-0.628-2.972-1.575-4.187l-1.212,0.156l0.084-0.125c0.316-0.473,0.188-1.119-0.286-1.435L15.517,5.65c-0.473-0.316-1.119-0.187-1.435,0.286l-0.095,0.142l-0.538-3.219l-3.271-2.033l-1.754,2.93l0.86,0.481L3.04,3.445L2.136,4.798l3.766,2.516c-0.17,0.204-0.333,0.414-0.484,0.639C5.269,8.178,5.137,8.41,5.013,8.645L1.247,6.129L0.344,7.482l4.878,8.537l0.008-0.013c0.098,0.164,0.207,0.322,0.317,0.479l1.628-0.209l-0.302,0.452c-0.316,0.473-0.187,1.119,0.286,1.435l0.675,0.451c0.473,0.316,1.119,0.188,1.435-0.286l0.252-0.378l0.185,1.442c1.418,0.385,2.904,0.334,4.273-0.105l0.552,0.369c1.512-0.533,2.87-1.542,3.829-2.977C19.32,15.244,19.732,13.602,19.645,12.002z M14.09,16.055c-0.106,0.158-0.32,0.201-0.478,0.095c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095C14.153,15.682,14.196,15.896,14.09,16.055zM13.969,13.664c-0.513,0.769-1.371,1.227-2.296,1.227c-0.546,0-1.075-0.161-1.531-0.465c-1.265-0.845-1.606-2.561-0.762-3.826c0.513-0.768,1.372-1.227,2.297-1.227c0.545,0,1.074,0.161,1.53,0.465C14.472,10.683,14.814,12.4,13.969,13.664z M15.065,17.476c-0.106,0.158-0.32,0.201-0.478,0.095c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095C15.129,17.104,15.171,17.318,15.065,17.476z M15.334,14.768c-0.106,0.158-0.32,0.201-0.478,0.095c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095C15.397,14.396,15.44,14.61,15.334,14.768zM15.568,13.222c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095c0.158,0.106,0.201,0.32,0.095,0.478C15.94,13.285,15.726,13.327,15.568,13.222z M16.665,15.658c-0.106,0.158-0.32,0.201-0.478,0.095c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095S16.771,15.499,16.665,15.658z M17.733,13.483c-0.106,0.158-0.32,0.201-0.478,0.095c-0.158-0.106-0.201-0.32-0.095-0.478c0.106-0.158,0.32-0.201,0.478-0.095C17.796,13.111,17.839,13.325,17.733,13.483z"></path>
            <path fill="none" d="M12.824,10.412c-0.341-0.228-0.738-0.349-1.146-0.349c-0.694,0-1.338,0.344-1.723,0.92c-0.634,0.949-0.377,2.236,0.571,2.869c0.342,0.228,0.739,0.35,1.147,0.35c0.694,0,1.337-0.344,1.722-0.92C14.029,12.332,13.773,11.045,12.824,10.412z"></path>
          </svg>
        </div><!-- /.post__closer -->

      {% elsif post.custom_type == 'link' %}
        <header class="post__header">
          <h1><a href="{{ post.link_url }}">{{ post.title }}</a><span class="arrow">&rarr;</span></h1>

          <ul class="post__meta">
            {% include date.html %}
          </ul><!-- /.post__meta -->

        </header><!-- /.post__header -->


        <div class="post__entry">
          {{ post.content }}
        </div><!-- /.post__entry -->

      {% elsif post.custom_type == 'artdirect' %}

        {% include artdirect-type.html %}

        <header class="post__header">
          <ul class="post__meta">
            <li><small><span class="pubdate"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign d = post.date | date: "%-d"  %}{{ post.date | date: "%B" }}
          {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
          {{ post.date | date: "%Y" }}</time></span></small></li>
          </ul>
          <h1><a href="{{ post.url }}" style="color: #{{ post.artdirect_color }}">{{ post.title }}</a></h1>
          <h2 class="post__lead">{{ post.lead }}</h2>
        </header><!-- /.post__header -->


      {% endif %}
    </article><!-- /.post -->
  </div><!-- .type-post -->
{% endfor %}
</div><!-- .content__posts -->

<div class="pagination">
  <ul class="page-nav">
  {% if paginator.previous_page %}
    <li class="page-nav__previous">
      {% if paginator.previous_page == 1 %}
        <a href="/">Prev</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Prev</a>
      {% endif %}
    </li>
  {% else %}
    <li class="page-nav__previous page-nav__disabled">
      Prev
    </li>
  {% endif %}


  {% if paginator.next_page %}
    <li class="page-nav__next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </li>
  {% else %}
    <li class="page-nav__next page-nav__disabled">
      Next
    </li>
  {% endif %}
  </ul>
</div><!-- .pagination -->
