---
layout: page
title: Subscribe
exclude_from_search: true
permalink: /subscribe/
---

<section class="card card--jazz card--large">
  <h2>Email Subscription</h2>
  {% include newsletter-form.html %}
</section>

<h2>Master Feed</h2>
<p><a href="http://theboldreport.net/atom.xml">http://theboldreport.net/atom.xml</a></p>

<h2>Articles-Only Feed</h2>
<p>
  The feed with only long form articles.
  <a href="http://theboldreport.net/atom.articles.xml">http://theboldreport.net/atom.articles.xml</a>
</p>

<h2>Twitter</h2>

<p>You should <a href="https://twitter.com/theboldreport">follow The Bold Report on Twitter</a>.</p>
