---
layout: page
title: Topics
exclude_from_search: true
permalink: /topics/
excerpt: Topics covered on The Bold Report.
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="tag-box inline">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word | downcase | replace:' ','-' }}">{{ this_word }} <span>{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  <h2 class="subheader" id="{{ this_word | downcase | replace:' ','-' }}">{{ this_word }}</h2>
  <div class="topic-list">
  {% for post in site.tags[this_word] %}{% if post.title != null %}
    <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a><small class="pubdate"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %b %d, %Y" }}</time></small></h3>
  {% endif %}{% endfor %}
  </div>
{% endunless %}{% endfor %}
