
// -------------------------------
// BITS
// -------------------------------


// COLORS ------------------------
$dark-color: #555;
$body-color: #555;
$link-color: #429CD4;
$jazz-color: #F88962;
$border-color: #EAECEF;
$brand-color: #508FAB;
$slate: #383C40;


// SPACING -----------------------
$spacing-xxs: rem-calc(5px);
$spacing-xs: rem-calc(10px);
$spacing-s: rem-calc(20px);
$spacing-m: rem-calc(30px);
$spacing-l: rem-calc(40px);
$spacing-xl: rem-calc(50px);

// Other -------------------------
$global-radius: 3px;
