// -------------------------------
// OBJECTS
// -------------------------------

.container {
  @extend %clearfix;

  margin: 0 auto;
  position: relative;
  width: 100%;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1000px;
  }
}

svg {
  width: 100%;
}

iframe {
  margin: 1rem 0;
  width: 100%;
}

// Responsive iFrame -------------

.iframe-container {
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Card --------------------------
// Basically a reusable panel that
// sits behind anything.
// -------------------------------

.card {
  padding: 1.3rem;
  @media #{$medium-up} {
    border-radius: $global-radius;
  }
  h2 {
    margin-top: 0;
    width: 100%;
  }
}

.card--large {
  @media #{$large-up} {
    margin: 0 auto;
    width: 80%;
  }
}

.card--dark {
  background-color: $slate;
  color: lighten($slate, 40%);
  h2 {
    color: white;
  }
}

.card--jazz {
  background-color: $jazz-color;
  color: lighten($jazz-color, 20%);
  h2 {
    color: white;
  }
  .button--primary {
    background: $slate;
    &:focus,
    &:hover {
      background: lighten($slate, 10%);
    }
  }
}
