// -------------------------------
//  Name:    Base16 Ocean Dark
//  Author:  Chris Kempson (http://chriskempson.com)
//
//  Pygments template by Jan T. Sott (https://github.com/idleberg)
//  Created with Base16 Builder by Chris Kempson
//  (https://github.com/chriskempson/base16-builder)
// -------------------------------

$pre-background: #2b303b;
$color-1: #4f5b66;
$color-2: #eff1f5;
$color-3: #65737e;
$color-4: #bf616a;
$color-5: #b48ead;
$color-6: #d08770;
$color-7: #96b5b4;
$color-8: #a3be8c;
$color-9: #ebcb8b;
$color-10: #8fa1b3;

.highlight .hll { background-color: $color-1; }
.highlight pre { background: $pre-background; color: $color-2; }
.highlight .c { color: $color-3; } // Comment
.highlight .err { color: $color-4; } // Error
.highlight .k { color: $color-5; } // Keyword
.highlight .l { color: $color-6; } // Literal
.highlight .n { color: $color-2; } // Name
.highlight .o { color: $color-7; } // Operator
.highlight .p { color: $color-2; } // Punctuation
.highlight .cm { color: $color-3; } // Comment.Multiline
.highlight .cp { color: $color-3; } // Comment.Preproc
.highlight .c1 { color: $color-3; } // Comment.Single
.highlight .cs { color: $color-3; } // Comment.Special
.highlight .gd { color: $color-4; } // Generic.Deleted
.highlight .ge { font-style: italic } // Generic.Emph
.highlight .gh { color: $color-2; font-weight: bold; } // Generic.Heading
.highlight .gi { color: $color-8; } // Generic.Inserted
.highlight .gp { color: $color-3; font-weight: bold; } // Generic.Prompt
.highlight .gs { font-weight: bold; } // Generic.Strong
.highlight .gu { color: $color-7; font-weight: bold; } // Generic.Subheading
.highlight .kc { color: $color-5; } // Keyword.Constant
.highlight .kd { color: $color-5; } // Keyword.Declaration
.highlight .kn { color: $color-7; } // Keyword.Namespace
.highlight .kp { color: $color-5; } // Keyword.Pseudo
.highlight .kr { color: $color-5; } // Keyword.Reserved
.highlight .kt { color: $color-9; } // Keyword.Type
.highlight .ld { color: $color-8; } // Literal.Date
.highlight .m { color: $color-6; } // Literal.Number
.highlight .s { color: $color-8; } // Literal.String
.highlight .na { color: $color-10; } // Name.Attribute
.highlight .nb { color: $color-2; } // Name.Builtin
.highlight .nc { color: $color-9; } // Name.Class
.highlight .no { color: $color-4; } // Name.Constant
.highlight .nd { color: $color-7; } // Name.Decorator
.highlight .ni { color: $color-2; } // Name.Entity
.highlight .ne { color: $color-4; } // Name.Exception
.highlight .nf { color: $color-10; } // Name.Function
.highlight .nl { color: $color-2; } // Name.Label
.highlight .nn { color: $color-9; } // Name.Namespace
.highlight .nx { color: $color-10; } // Name.Other
.highlight .py { color: $color-2; } // Name.Property
.highlight .nt { color: $color-7; } // Name.Tag
.highlight .nv { color: $color-4; } // Name.Variable
.highlight .ow { color: $color-7; } // Operator.Word
.highlight .w { color: $color-2; } // Text.Whitespace
.highlight .mf { color: $color-6; } // Literal.Number.Float
.highlight .mh { color: $color-6; } // Literal.Number.Hex
.highlight .mi { color: $color-6; } // Literal.Number.Integer
.highlight .mo { color: $color-6; } // Literal.Number.Oct
.highlight .sb { color: $color-8; } // Literal.String.Backtick
.highlight .sc { color: $color-2; } // Literal.String.Char
.highlight .sd { color: $color-3; } // Literal.String.Doc
.highlight .s2 { color: $color-8; } // Literal.String.Double
.highlight .se { color: $color-6; } // Literal.String.Escape
.highlight .sh { color: $color-8; } // Literal.String.Heredoc
.highlight .si { color: $color-6; } // Literal.String.Interpol
.highlight .sx { color: $color-8; } // Literal.String.Other
.highlight .sr { color: $color-8; } // Literal.String.Regex
.highlight .s1 { color: $color-8; } // Literal.String.Single
.highlight .ss { color: $color-8; } // Literal.String.Symbol
.highlight .bp { color: $color-2; } // Name.Builtin.Pseudo
.highlight .vc { color: $color-4; } // Name.Variable.Class
.highlight .vg { color: $color-4; } // Name.Variable.Global
.highlight .vi { color: $color-4; } // Name.Variable.Instance
.highlight .il { color: $color-6; } // Literal.Number.Integer.Long
