{% include head.html %}

<header class="site__header" role="banner">
  <div class="site__branding">
    <a href="/" class="logo">
      <svg version="1.1" id="Variation_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" viewBox="0 0 4210.1 581.9" style="enable-background:new 0 0 4210.1 581.9;" xml:space="preserve" class="bold-logo">
        <g class="bold__first">
          <path d="M10.9,346.5h42.6L107,132.4H62.6c-25.3,0-28.6,11.3-50.5,67.8H0l20.7-82.9h206.5l-20.7,82.9h-11.3
            c6-56.5,7.2-67.8-18.1-67.8h-43.7L79.9,346.5h43.3l-3.8,15.1H7.2L10.9,346.5z"/>
          <path d="M319.9,332.5c0.4-30.9,28.3-72.7,28.3-104.8c0-7.2-3-17-15.8-17c-23.7,0-64.1,42.6-93.5,150.8h-25.2l64.4-244.2h-35.8
            l3.8-14.7h59.5l-44.8,165.1l2.6,1.1c24.5-50.1,52.8-77.6,78.4-77.6c17.7,0,30.9,12.8,30.9,36.2c0,32.8-29.4,82.2-29.4,108.9
            c0,4.1,1.1,10.6,8.3,10.6c9.4,0,20-16.6,30.1-44.5l10.2,3.4c-17,47.1-31.3,59.2-47.1,59.2C330.9,364.9,319.6,353.6,319.9,332.5z"/>
          <path d="M436.8,291.8c-0.4,3.4-0.4,7.2-0.4,10.2c0,31.7,13.9,48.2,35.8,48.2s39.6-13.6,57.3-38.4l9,6.4
            c-18.1,26-39.9,46.7-71.6,46.7c-33.2,0-55.4-21.9-55.4-59.9c0-58.4,53.9-113.8,99.5-113.8c25.6,0,39.6,15.4,39.6,33.2
            C550.6,258.3,514.8,282.4,436.8,291.8z M438.6,280.9c71.2-9.4,88.9-33.5,88.9-55.8c0-13.6-9-21.5-21.9-21.5
            C473.7,203.6,446.5,244,438.6,280.9z"/>
        </g>
        <g class="bold__second">
          <path d="M599,405.3h53.7l78.9-316.9h-53.7l16.3-65.3h219.6c126.5,0,159.1,44.9,159.1,91.1c0,55.8-41.5,107.4-147.6,120.4l-1.4,4.8
            c75.5,10.9,110.1,44.2,110.1,92.5c0,31.3-10.2,59.8-32.6,83c-34,34-94.5,55.8-189,55.8H582.7L599,405.3z M811.9,405.3
            c65.3,0,101.3-27.2,101.3-80.9c0-34-19-52.4-76.2-52.4h-29.9l-33.3,133.3H811.9z M859.5,206.7c59.8,0,89.8-29.9,89.8-71.4
            c0-30.6-15.6-46.9-64.6-46.9h-31.3l-29.9,118.3L859.5,206.7L859.5,206.7z"/>
          <path d="M1425.2,276.1c0,110.8-97.2,202-200.6,202c-87,0-148.9-55.8-148.9-134.6c0-110.8,97.2-202,200.6-202
            C1363.3,141.4,1425.2,197.2,1425.2,276.1z M1278.3,188.4c-57.1,0-87,144.8-87,195.2c0,40.8,16.3,47.6,30.6,47.6
            c57.8,0,87.7-144.8,87.7-195.2C1309.6,195.2,1293.3,188.4,1278.3,188.4z"/>
          <path d="M1467.4,358.4l78.9-296.5h-44.9L1517,0h159.8l-93.2,332.5c-3.4,11.6-16.3,51-16.3,63.2c0,10.2,5.4,12.9,10.9,12.9
            c10.9,0,23.8-8.8,46.9-64.6l37.4,13.6c-27.2,75.5-70,120.4-127.8,120.4c-44.9,0-75.5-24.5-75.5-69.4
            C1459.2,397.1,1461.9,378.8,1467.4,358.4z"/>
          <path d="M2087.5,357.7c-25.2,78.2-65.3,120.4-121,120.4c-41.5,0-69.4-22.4-69.4-67.3c0-8.2,0.7-12.9,1.4-17.7l-5.4-2
            c-27.2,59.8-63.9,87-109.5,87c-71.4,0-102-54.4-102-114.2c0-70,31.3-142.8,68.7-180.2c29.2-29.2,55.8-42.2,95.2-42.2
            c43.5,0,70.7,31.3,82.3,60.5l36.7-140.1h-44.9L1935.2,0h158.4l-94.5,364.5c-3.4,12.9-4.8,21.1-4.8,27.9c0,12.2,6.8,16.3,12.9,16.3
            c12.2,0,25.2-11.6,42.8-64.6L2087.5,357.7z M1913.4,244.1c0-37.4-17-43.5-30.6-43.5c-49,0-82.3,106.1-82.3,165.2
            c0,34.7,14.3,43.5,28.6,43.5C1876,409.4,1913.4,304,1913.4,244.1z"/>
        </g>
        <g class="bold__third">
          <path d="M2168.9,445h79.8l103.2-415.7h-81.2L2278,0h204.9c120.1,0,152.9,52,152.9,104.6c0,63-41,128-143.5,139l-0.7,1.5
            c57.8,15.3,71,41.7,71,79.8c0,30-10.3,69.5-10.3,93.7c0,22,9.5,32.2,30.8,32.2c13.2,0,33.7-5.1,49.7-12.4l7.4,16.1
            c-23.4,16.1-53.5,27.8-81.9,27.8c-32.9,0-60-17.5-60-60.7c0-36.6,14.6-79.8,14.6-117.1c0-28.6-14.6-46.8-73.9-46.8h-92.2
            L2300,444.8h81.9l-7.4,29.3h-213L2168.9,445z M2436,230.6c52.7,0,87.1-12.4,111.3-36.6c22-22,35.1-59.3,35.1-93.7
            c0-45.4-26.3-71.7-98.1-71h-81.2l-50.5,201.3H2436L2436,230.6z"/>
          <path d="M2723.6,338.9c-0.7,6.5-0.7,13.9-0.7,19.8c0,61.4,27,93.7,69.5,93.7s76.9-26.3,111.3-74.7l17.5,12.4
            c-35.1,50.5-77.6,90.8-139,90.8c-64.4,0-107.5-42.5-107.5-116.3c0-113.4,104.6-221,193.2-221c49.7,0,76.9,30,76.9,64.4
            C2944.7,273.8,2875.2,320.6,2723.6,338.9z M2727.3,317.7c138.3-18.3,172.7-65.2,172.7-108.3c0-26.3-17.5-41.7-42.5-41.7
            C2795.4,167.6,2742.7,245.9,2727.3,317.7z"/>
          <path d="M3056.7,179.3c-19.8,0-35.1,23.4-63.7,80.5l-19.1-8.8c31.5-71,58.5-106.1,93.7-106.1c31.5,0,43.2,24.9,43.2,55.6
            c0,9.5-1.5,19.1-2.2,22l5.1,2.2c33.7-51.2,68.1-81.2,109.1-81.2c49,0,84.9,38.7,84.9,108.3c0,112-81.2,223.2-166.9,223.2
            c-33.7,0-66.6-19.1-76.1-57.8l-35.8,135.4h73.1l-8.1,29.3h-172.6l8.1-29.3h54.2l81.2-305.9C3077.1,200.6,3073.4,179.3,3056.7,179.3
            z M3077.1,377c0,35.1,18.3,71.7,62.2,71.7c67.3,0,120.8-112.7,120.8-198.3c0-49-21.2-72.5-52-72.5
            C3141.5,177.9,3077.1,302.3,3077.1,377z"/>
          <path d="M3642.1,275.3c0,108.3-77.6,205.6-169.1,205.6c-75.4,0-115.6-56.4-115.6-131.8c0-108.4,78.3-205.6,169.8-205.6
            C3601.9,143.5,3642.1,199.8,3642.1,275.3z M3527.9,167.6c-78.3,0-123.7,117.8-123.7,199.8c0,64.4,32.2,89.3,67.3,89.3
            c78.3,0,123.7-117.8,123.7-199.8C3595.3,192.6,3563,167.6,3527.9,167.6z"/>
          <path d="M3773.1,250.4c18.3-68.1,6.6-76.1-5.9-76.1c-21.2,0-41,38.7-65.2,85.7l-19.1-8.8c30-66.6,57.1-106.1,93.7-106.1
            c28.6,0,42.5,21.2,42.5,54.2c0,29.3-9.5,66.6-16.1,90l5.9,2.2c46.1-91.5,81.9-147.8,123.7-147.8c22,0,36.6,15.3,36.6,38.1
            c0,24.9-16.1,44.6-34.4,44.6s-29.3-16.1-25.6-42.5c-34.4,16.8-100.3,114.9-147.1,290.5h-49L3773.1,250.4z"/>
          <path d="M4105.4,179.3l-48.3,177.9c-8.8,33.7-10.3,44.6-10.3,54.2c0,22.7,14.6,31.5,29.3,31.5c32.9,0,57.1-39.5,78.3-89.3l20.5,6.6
            c-38.7,101.7-79.8,120.8-112.7,120.8c-42.5,0-63-29.3-63-61.4c0-18.3,6.6-46.8,12.4-67.3l46.8-172.7h-66.6l6.6-25.6h66.6l25.6-94.4
            l49-7.4L4112,153.9h98.1l-6.6,25.6h-98.1V179.3z"/>
        </g>
      </svg>
    </a>
  </div><!-- .site__branding -->

  <nav class="site__navigation" role="navigation">
    <ul class="primary-navigation">
      <li><a href="/about/">About</a></li>
      <li><a href="/archives/">Archives</a></li>
      <li><a href="/subscribe/">Subscribe</a></li>
    </ul>
  </nav><!-- .site__navigation -->

  <div id="search" class="site__search-form">
    <form action="/search" method="get">
        <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off" autocorrect="off">
      </form>
  </div><!-- .site__search-form -->

  <button class="site__search-btn js-search-toggle no-button">
    <svg class="svg-icon search-icon" viewBox="0 0 20 20">
      <path fill="none" d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
        c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
        c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
        s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z"></path>
    </svg>
  </button>
</header><!-- .site__header-->
