<!DOCTYPE html>
  <html>
    <head>

      <!--
       ____________  ___  ______  _______________ __
      /_  __/  _/  |/  / / __/  |/  /  _/_  __/ // /
       / / _/ // /|_/ / _\ \/ /|_/ // /  / / / _  /
      /_/ /___/_/  /_/ /___/_/  /_/___/ /_/ /_//_/

      How much does a polar bear weigh? Just enough to break the ice.

      Made with love in beautiful Saint Paul, Minnesota.
      The Bold Report © 2013—{{ site.time | date: "%Y" }} Anythin’ Goes and Timothy B. Smith.

      -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <link href="/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- DNS Prefetch -->
      <link rel="dns-prefetch" href="//use.typekit.net">
      <link rel="dns-prefetch" href="//p.typekit.net">

      <!-- Author Info for Google -->
      <link rel="author" href="//plus.google.com/117161754644004218749">
      <meta name="author" content="Tim Smith">
      <link rel="canonical" href="//theboldreport.net{{ page.url }}">
      <meta name="description" property="og:description" name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

      <!-- Facebook Article Info -->
      <meta property="og:image" name="twitter:image" content="//theboldreport.net/uploads/2013/09/theboldreport-avatar.png">
      <meta property="og:title" name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}">
      <meta property="og:site_name" content="The Bold Report">
      <meta property="og:url" content="//theboldreport.net{{ page.url }}">
      {% if page.custom_type %}
      <meta property="og:type" content="article">
      {% endif %}

      <!-- Twitter Info -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@theboldreport">
      <meta name="twitter:creator" content="@ttimsmith">

      <link rel="alternate" type="application/rss+xml" title="RSS Feed for The Bold Report" href="/atom.xml" />
      <link rel="alternate" type="application/rss+xml" title="Articles-Only Feed for The Bold Report" href="/atom.articles.xml" />

      <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6973314/6893552/css/fonts.css" />
      <style>
        {% asset 'global' %}
        {% if page.custom_css %}
          {% asset '{{ page.custom_css}}' %}
        {% endif %}
      </style>
    </head>
    <body>
