<div class="newsletter">
  <p>Sign up for weekly updates with links and articles from <em>The Bold Report.</em></p>
  <form action="//anythingoes.createsend.com/t/t/s/bhrjhl/" method="post" id="subForm">
    <div class="newsletter__inputs">
      <div class="form-group">
        <label for="fieldName" class="screen-reader-hide">Name</label>
        <input id="fieldName" name="cm-name" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Full Name" required />
      </div>

      <div class="form-group">
        <label for="fieldEmail" class="screen-reader-hide">Email</label>
        <input id="fieldEmail" name="cm-bhrjhl-bhrjhl" type="email" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Email Address" required />
      </div>
    </div><!-- /.newsletter__inputs -->

    <div class="button-group">
      <button type="submit" class="button button--primary">Subscribe</button>
    </div>
  </form>
  <div class="newsletter__thankyou"></div>
</div>
