<div class="contain search-wrapper">
  <div id="search" class="site__search-form">
    <form action="/search" method="get">
      <p>
        <input type="text" id="search-query" name="q" placeholder="Search…" autocomplete="off">
      </p>
    </form>
  </div><!-- .site__search-form -->
</div>
