@import '_redbat/functions';
@import '_redbat/mixins';
$primary-color: #B0C1C5;
$secondary-color: #333;
$text-color: #E7D9C0;

body {
  background: $primary-color;
  background-position: -35px -35px;
  background-size: auto 100vh;
}

.site__header {
  background: $secondary-color;
  border-bottom: 1px solid rgba(white, .1);
  margin-bottom: 0;
  a {
    color: $primary-color;
    &:hover,
    &:focus {
      color: lighten($primary-color, 5%);
    }
  }
}

.logo {
  .bold__first,
  .bold__third {
    fill: rgba(white, .6);
  }
  .bold__second {
    fill: $primary-color;
  }
}

.site__navigation {
  @media #{$small-only} {
    background: darken($secondary-color, 10%);
  }
}

.post__header {
  background: $secondary-color;
  margin: 0 auto 2rem;
  overflow: hidden;
  padding: 2em;
  width: 100%;
}

.post__title {
  font-family: 'blenny',sans-serif;
  max-width: 1300px;
  .word1 {
    color: wheat;
    display: block;
    font-size: .7em;
    padding-left: 1.5em;
  }
  .word2 {
    color: white;
    display: block;
    font-size: 4.5em;
    line-height: .6;
    // text-transform: uppercase;
  }
  .word3 {
    color: wheat;
    font-size: 1.3em;
    line-height: 1.5;
    padding-left: 3.6em;
  }
  .word4 {
    color: wheat;
    font-size: 1.3em;
  }
}

.post__lead {
  color: white;
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 auto;
  max-width: 1000px;
  @media #{$medium-up} {
    font-size: 2.6rem;
  }
}

.post__entry {
  margin: 0 auto;
  width: 90%;
  @media #{$medium-up} {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin: 0 auto;
    max-width: 990px;
  }
  h2,
  h3,
  h5,
  p {
    width: 100%;
  }
  p {
    color: $secondary-color;
  }
  h5 {
    color: $secondary-color;
    &:before {
      background: darken($primary-color, 10%);
    }
  }
}

.post__closer .svg-icon path {
  fill: darken($primary-color, 10%);
}

.post__footer {
  .post__meta li {
    color: darken($primary-color, 30%);
  }
}

.post__entry,
.post__footer,
.site__footer {
  a {
    color: $secondary-color;
    &:hover,
    &:focus {
      color: lighten($secondary-color, 10%);
    }
  }
}

.site__footer {
  background: none;
  color: $secondary-color;
  small {
    color: darken($primary-color, 30%);
  }
}

.footer__logo {
  .bold__second {
    fill: darken($primary-color, 30%);
  }
}

.button--primary {
  background: $secondary-color;
}

.footer__sections h6 {
  color: $secondary-color;
}

.newsletter,
.footer__about,
.footer__subscribe {
  border-color: darken($primary-color, 5%);
}
