{% include header.html %}

<main class="content__main-content" role="main">
  <div class="container">
    {{ content }}
  </div><!-- /.container -->
</main>

{% include footer.html %}

  </body>
</html>
