// -------------------------------
// FOOTER
// -------------------------------

.site__footer {
  background-color: $slate;
  color: rgba(white, .6);
  margin-top: 4rem;
  padding: 2rem 0;
  small {
    @extend %sans;

    color: rgba(white, .4);
    display: block;
    font-size: .9rem;
    margin-top: 2rem;
    width: 100%;
    @media #{$medium-up} {
      font-size: .75rem;
    }
  }
  p {
    @extend %sans;

    font-size: 1rem;
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    @media #{$large-up} {
      width: 100%;
    }
  }
}

.footer__sections {
  display: flex;
  flex-direction: column;
  @media #{$medium-up} {
    flex-direction: row;
  }
  ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    li {
      @extend %sans;

      font-size: .9rem;
      line-height: 1.4;
      margin-bottom: rem-calc(5px);
      margin-left: 0;
      padding: 0;
      @media #{$medium-up} {
        font-size: .8rem;
      }
    }
  }
  h6 {
    color: rgba(white, .6);
    font-weight: 600;
    margin-bottom: rem-calc(10px);
  }
}

%footer-grid {
  border-bottom: 1px solid rgba(white, .2);
  padding: rem-calc(10px) rem-calc(20px) rem-calc(10px) 0;
  @media #{$medium-up} {
    border-bottom: 0;
    border-right: 1px solid rgba(white, .2);
  }
}

.footer__about {
  @extend %footer-grid;
  @media #{$medium-up} {
    flex: 0 1 50%;
  }
}

.footer__logo {
  display: block;
  height: 28px;
  margin-bottom: rem-calc(10px);
  width: 200px;
  @media #{$medium-up} {
    height: 32px;
    width: 230px;
  }
  .bold__first,
  .bold__third {
    fill: white;
  }
  .bold__second {
    fill: $jazz-color;
  }
}

.footer__subscribe {
  @extend %footer-grid;
  @media #{$medium-up} {
    padding-left: rem-calc(20px);
  }
}

.footer__links {
  padding: rem-calc(10px) 0;
  @media #{$medium-up} {
    padding: rem-calc(10px) 0 rem-calc(10px) rem-calc(20px);
  }
}

.footer__subscribe,
.footer__links {
  @media #{$medium-up} {
    flex: 1 1 auto;
  }
}
