// -------------------------------
// HEADER
// -------------------------------

.site__header {
  border-bottom: 2px solid $border-color;
  display: flex;
  flex-direction: column;
  margin: 0 0 $spacing-l;
  @media #{$medium-up} {
    border-bottom-width: 1px;
    flex-direction: row;
    padding: rem-calc(15px);
  }
}

.site__branding {
  margin: 0 0 $spacing-s;
  order: 2;
  @media #{$small-only} {
    margin: rem-calc(25px) auto;
    width: 90%;
  }
  @media #{$medium-up} {
    margin: auto $spacing-m auto auto;
    text-align: left;
  }
}

.logo {
  display: block;
  max-height: 21px;
  width: 180px;
  @media #{$medium-up} {
    max-height: 24px;
    width: 180px;
  }
  .bold__first,
  .bold__third {
    fill: $dark-color;
    transition: fill 310ms ease;
  }
  .bold__second {
    fill: $link-color;
    transition: fill 310ms ease;
  }
}

.site__navigation {
  flex: 1;
  order: 1;
  @media #{$small-only} {
    background: $jazz-color;
    padding: .8rem 0;
  }
  @media #{$medium-up} {
    margin-bottom: auto;
    margin-right: $spacing-m;
    margin-top: auto;
    order: 2;
  }
}

.primary-navigation {
  margin: 0;
  text-align: left;
  width: 100%;
  @media #{$small-only} {
    margin: 0 auto;
    width: 90%;
    a {
      color: lighten($jazz-color, 25%);
      font-weight: 600;
      &:hover {
        color: white;
      }
    }
  }
  li {
    @extend %sans;

    display: inline;
    font-size: .9rem;
    list-style-type: none;
    margin-left: 0;
    margin-right: rem-calc(15px);
    padding: 0;
    @media #{$medium-up} {
      font-size: .75rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// -------------------------------
// Search
// -------------------------------

.site__search-btn {
  display: flex;
  margin-left: rem-calc(15px);
  position: absolute;
  right: 1rem;
  top: 4.6rem;
  path {
    fill: $slate;
    transition: fill 300ms ease;
  }
  &:hover,
  &:focus {
    path {
      fill: $link-color;
    }
  }
  @media #{$medium-up} {
    display: none;
  }
}

.search-icon {
  margin: auto;
  width: 20px;
}

.site__search-form {
  @extend %sans;

  position: absolute;
  transform: translateX(-150%);
  transition: transform 200ms ease;
  width: 100%;
  @media #{$medium-up} {
    flex: 0 1 25%;
    order: 3;
    position: static;
    transform: translateY(0);
  }
  @media #{$large-up} {
    flex: 0 1 35%;
  }
  &.js-search-open {
    transform: translateX(0);
  }
}
