// -------------------------------
// PAGES
// -------------------------------

.archive-list,
.search-results-list,
.topic-list {
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: none;
    &:first-child {
      margin-top: .3rem;
    }
    @media #{$medium-up} {
      font-size: 1.2rem;
    }
  }
  .pubdate {
    @extend %sans;

    color: lighten($dark-color, 20%);
    display: block;
    font-size: .85rem;
    font-weight: normal;
    line-height: 1.5;
    @media #{$medium-up} {
      font-size: .75rem;
    }
  }
}

.tag-box {
  border-bottom: 1px solid $border-color;
  list-style-type: none;
  padding: 0 0 rem-calc(40px);
  width: 90%;
  @media #{$large-up} {
    width: 100%;
  }
  li {
    @extend %sans;

    display: inline-block;
    font-size: .85rem;
    margin: 0 .1rem 0 0;
    padding: 0;
    @media #{$medium-up} {
      font-size: .75rem;
    }
    &:last-child {
      padding: 0;
    }
    a {
      background: $border-color;
      border-radius: 2px;
      color: $body-color;
      display: inline-block;
      margin-bottom: .4rem;
      padding: .1rem .3rem;
      text-decoration: none;
      &:hover,
      &:focus {
        background: $jazz-color;
        color: white;
      }
    }
  }
  span {
    font-weight: 600;
    padding: 0 .2rem;
  }
}
